body{
  font-family: 'Red Hat Text', san-serif;
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  min-height:  100vh;
}

#timetable{
  position: absolute;
  top: 10%;
  left: 2%;
}

.kronosTimer{
  position: absolute;
  left: 3.5%;
  top: 19%;
  zoom: 1.35;
  -moz-transform: scale(1.25);
}
#insight{
  border-radius: 15px;
  border: thick rgba(253, 160, 133, 0.9);
  background-color: rgba(253, 160, 133, 0.9);
  padding-top: 5%;
  padding-left: 5%
}

#todaysClasses{
  padding-top: 5%
}
#quoteContainer{
  font: inherit;
  color: white;
  text-align: right;
  position: absolute;
  top: 35%;
  right: 2%;
  width: 30%
}

#greetingDiv{
  font: inherit;
  font-size: 250%;
  color: white;
  text-align: right;
  position: absolute;
  top: 17%;
  right: 2%;

}

.TodoListClass{
position: absolute;
top: 55%;
right: -3%;
zoom: 0.75;
-moz-transform: scale(0.75);
}

#clock{
text-align: right;
position: absolute;
top: 22%;
right: 2%;
color: #ffff;
font-size: 100%;
padding: 20px;
}

#weatherContainer{
position: absolute;
top: 7.5%;
right: 7.5%;
padding: auto;
}

#currentTemp{
color: white;
font-size: 250%;
position: absolute;
left: 100%;
top: 15%;
}

#time{
font-size: 250%;
}

form{
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button{
  padding: 0.5rem;
  font-size: 1.75rem;
  border: none;
  background: white;
}

form button{
  color: #d88771;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #d88771;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ff6f47;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #ff6f47;
  cursor: pointer;
  pointer-events: none;
}

/*CSS for the Container Area on Index.Html*/
#container{
    margin-top: 5%;
      text-align: center;
      width: 70%;
      height: 70%;
      margin-left: 15%;
  }
  
  a:hover{
    opacity: 0.7;
  }
  a{
      text-decoration: none;
  }
  /*CSS for the Logo on Index.Html*/
  #logo{
    width: 200px;
      text-align: center;
    margin-bottom: -100px;
  }
  
  /*CSS for the build model block in Index.Html*/
  #build{
      text-align: center;
      display: inline-block;
      padding: 0 10px;
      background: gold !important;
      line-height: 1.5;
      font-size: .875rem;
      color: grey !important;
      vertical-align: middle;
      white-space: nowrap;
      border-radius: 2px;
      text-transform: uppercase;
  }
  
  /*CSS for the  Enter Classes Button in Index.Html*/
  #buttonEnterClasses{
    font-family: Roboto, sans-serif !important;
    text-align: center;
    background-color: gold !important;
    color: grey !important;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: 0;
      margin-top: 0px;
      margin-bottom: 0px;
      border: none;
      border-radius: 5px;
      overflow: visible;
      font-family: Helvetica, sans-serif;
      font-size: inherit;
      line-height: inherit;
      color: inherit;
      text-transform: none;
      display: inline-block;
      box-sizing: border-box;
      padding: 0 30px;
      vertical-align: middle;
      font-size: .875rem;
      line-height: 38px;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      transition: .1s ease-in-out;
      transition-property: all;
      transition-property: color,background-color,border-color; 
      touch-action: manipulation;
  }
  
  #buttonEnterClasses a:hover {
    opacity:1;
  }
  