:root {
  --primary-color: black !important;
  --secondary-color: white;
  --tertiary-color: rgba(241, 110, 70, 0.5);
  --quad-color: rgba(241, 110, 70, 0.6);
  --bg-color: linear-gradient(110deg, #ebcb8b, #bf616a);
}


[data-theme="dark"] {
  --primary-color: white !important;
  --secondary-color: white;
  --tertiary-color: rgba(46, 52, 64, 0.5);
  --bg-color: linear-gradient(100deg, #434c5e, #2e3440);
}

body{
  font-family: "Red Hat Text", Arial, Helvetica, sans-serif !important;
  background-image: var(--bg-color);
  min-height:  100vh;
  color: var(--primary-color) !important;
}

#navbar{
  font-family: "Red Hat Text" !important;
  color: #FFFF !important;
}

.nav-link{
  color: #FFFF !important;
}

.kronosTimer{
  position: absolute;
  left: 3%;
  top: 11%;
}
#insight{
  border-radius: 15px;
  border: thick var(--tertiary-color);
  background-color: var(--tertiary-color);
  padding-top: 5%;
  padding-left: 5%;
  width: 82.5% !important;
  color: var(--primary-color) !important;
}

#rightSide{
  position: absolute;
  border-radius: 15px;
  border: thick rgba(241, 110, 70, 0.5);
  background-color: rgba(241, 110, 70, 0.5);
  width: 35%;
  margin-left: 60%;
  margin-top: 15.5%;
  padding: 0.5%;
}

#leftSide{
  position: absolute;
  padding-left: 2.5%;
  padding-top: 16%;
}

#rightLeftSide{
  margin-top: -41%;
  padding-left: 40%
}
#versionBox{
  margin-top: -5%;
  color: white;
  position: absolute;
  border-radius: 10px;
  border: thick rgba(241, 110, 70, 0.7);
  background-color: rgba(241, 110, 70, 0.7);
  padding-left: 3%;
  padding-right: 3%;
}


#todaysClasses{
  padding-top: 5%;
  color: var(--primary-color) !important;
}
#quoteContainer{
  color: white;
  text-align: right;
  position: absolute;
  top: 45%;
  right: 2%;
  width: 40%
}

#greetingDiv{
  font-size: 250%;
  color: white;
  text-align: right;
  position: absolute;
  top: 19%;
  right: 2%;

}

.TodoListClass{
position: absolute;
top: 62.5%;
right: 0%;
zoom: 0.85;
-moz-transform: scale(0.85);
}

#clock{
text-align: right;
position: absolute;
top: 24.5%;
right: 2%;
color: #ffff;
font-size: 100%;
padding-top: 20px;
}

#weatherContainer{
position: absolute;
top: 9%;
right: 4.5%;
padding: auto;
}

#currentTemp{
color: white;
font-size: 250%;
position: absolute;
left: 100%;
top: 18%;
}

#time{
font-size: 250%;
}

form{
  min-height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button{
  padding: 0.5rem;
  font-size: 1.75rem;
  border: none;
  background: white;
}

form button{
  color: rgba(241, 110, 70, 1);
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: rgba(241, 110, 70, 1);
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  font-size: 1.5rem;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(11, 212, 162);
}
.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: rgba(241, 110, 70, 1);
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: rgba(241, 110, 70);
  pointer-events: none;
}

.hereButton:hover{
  color: rgba(241, 110, 70, 1);
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
} 
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 50%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}
.icon-scroll:before {
  content: '';
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@-moz-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@-o-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}

.vl {
  border-left: 10px solid black;
  height: 100%;
}

/*Settings*/
#generalSettingsArea{
  text-align: left !important;
  width: 75%;
  position: absolute !important;
  top: 10% !important;
  left: 2.5% !important;
}
#nameInput{
  padding-left: 10px;
}

#appearanceSettingsArea{
  text-align: left !important;
  width: 75%;
  position: absolute !important;
  top: 10% !important;
  left: 17.5% !important;
}

/* The Slider Switch for Theme Change on Settings.Html*/
/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
  

    margin-left: 650px;
    margin-top: 50px;
    font-size: 1rem;

}
.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display:none;
}

.slider {
  background-color: #111111;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #ccc;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#timetable tr{
  border: 1px solid var(--primary-color);
  vertical-align: top;
  
}

#timetable td{
  border: 1px solid var(--primary-color);
  width: 1% !important;
  padding: 10px;
}